* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Dosis', sans-serif; */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.text-color {
    color: #323232 !important;
}

.hidden {
    visibility: hidden;
}

/*///////////////////// INDEX PAGE //////////////////////*/


.hero-section {
    background-image: url(/assets/images/become-a-software-developer.jpg);
    background-size: contain;
    height: 654px;
    max-width: 100%;
}

.hero-header {
    position: relative;
    top: 250px;
    left: 100px;

}

.hero-title {
    color: white;
    font-weight: 300;
    font-size: 65px;
    margin-bottom: 30px;
    width: 700px;
    overflow: hidden;
}


.cursor {
    width: 2px;
    background-color: #ccc;
    animation: blink 1s infinite;
}

.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: #ccc; }
    100% { background-color: #ccc; }
}

.hero-caption {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 22px;
    width: 600px;
}

.hero-cta {
    position: relative;
    bottom: -300px;
    left: 100px;
}

.hero-btn {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid #EA5252;
    border-radius: 5px;
    color: #EA5252;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
}

.hero-btn:hover {
    color: #E53E3E;
    font-weight: 400;
    background-color: #323232;
}

.hero-social {
    display: flex;
    flex-direction: row;
    width: 110px;
    position: relative;
    bottom: -260px;
    right: -530px;
}

.hero-instagram {
    font-size: 25px;
    color: #323232;
}

.hero-twitter {
    font-size: 25px;
    color: #323232;

}


@media screen and ( max-width: 1349px) {
    .hero-section {
        background-image: url(/assets/images/become-a-software-developer.jpg);
        background-size: contain;
        height: 654px;
        max-width: 100%;
    }
}

@media screen and ( max-width: 500px) {
    .hero-section {
        background-size: contain;
        height: 667px;
        max-width: 100%;
    }
    
    .hero-header {
        position: relative;
        top: 200px;
        left: 30px;
    
    }
    
    .hero-title {
        color: white;
        font-weight: 300;
        font-size: 30px;
        margin-bottom: 30px;
        width: 700px;
        overflow: hidden;
    }

    .hero-caption {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 13px;
        width: 600px;
    }
    
    .hero-cta {
        position: relative;
        bottom: -230px;
        left: 30px;
    }
    
    .hero-btn {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 14px;
        background-color: transparent;
        border: 2px solid #EA5252;
        border-radius: 5px;
        color: #EA5252;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 45px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .hero-btn:hover {
        color: #E53E3E;
        font-weight: 400;
        background-color: #323232;
    }
    
    .hero-social {
        display: flex;
        flex-direction: row;
        width: 110px;
        position: relative;
        bottom: -300px;
        left: -120px;
    }
    
    .hero-instagram {
        font-size: 25px;
        color: #323232;
    }
    
    .hero-twitter {
        font-size: 25px;
        color: #323232;
    
    }
}





/*///////////////////////// SERVICE PAGE //////////////////////////////////*/

.service-section {
    background-size: contain;
    height: 654px;
    width: 100%;
}


  .service-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 100px;
  }

  .service-header {
      width: 20%;
      position: relative;
      left: 100px;
      top: 150px;
  }

  .service-title {
      font-weight: 300;
      font-size: 65px;
      width: 500px;
      margin-bottom: 20px;
  }

  .service-cursor {
    width: 2px;
    background-color: #2D3136;
    animation: blink 1s infinite;
}

.service-cursor.typing {
    animation: none;
}

/* @keyframes blink {
    0% { background-color: #2D3136; }
    49% { background-color: #2D3136; }
    50% { background-color: transparent; }
    99% { background-color: #2D3136; }
    100% { background-color: #2D3136; }
} */

  .service-caption {
    font-weight: 300;
    font-size: 30px;
    width: 500px;

}

.service-btn {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid #2D3136;
    border-radius: 5px;
    color: #2D3136;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
}

.service-image {
    width: 80%;
}


/* LIST SECTION */

.list-section {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    /* background: #FBF7F7; */
}

.list-container {
    display: flex;
    flex-direction: column;
}

.list-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 150px;
    width: 1300px;
}

.list-col-1,
.list-col-2,
.list-col-3,
.list-col-4,
.list-col-5,
.list-col-6,
.list-col-7 {
    width: 500px;
    height: 650px;
    align-items: center;
}

.list-col-7 {
    margin-left: 75px;
}

.list-image {
    margin-bottom: 20px;
    margin-left: -35px;

}

.list-img {
    max-width: 700px;
}

.list-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 20px;
}

.list-caption {
    font-size: 20px;
    font-weight: 300px;
    /* width: 550px; */
    line-height: 35px;
    margin-bottom: 100px;
}

.list-btn {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    background-color: transparent;
    /* border: 2px solid #EA5252; */
    /* border-radius: 5px; */
    color: #EA5252;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 150px; */
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
}


/* WHY SECTION */

.why-section {
    margin-top: 20px;
    background: #FBF7F7;
    height: 600px;
    z-index: -1px;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
}

.why-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 100px;
    text-align: left;
}

.why-header {
    font-size: 42px;
    font-weight: 300;
    color: #FBF7F7;
    margin-bottom: 50px;
    margin-left: -620px;

}

.why-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1280px;
}

.why-card {
    border: 0 solid #e2e8f0;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px #e2e8f0;
    background: #FFFFFF;
    width: 400px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.why-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 350px; */
    margin-bottom: 50px;
}

.why-img {
    width: 5rem;
    margin-left: 30px;
}

.why-title {
    font-size: 25px;
    font-weight: 400;
    color: #6E6E6E;
    width: 240px;
    /* letter-spacing: .4px; */
    line-height: 30px;
}

.why-caption {
    font-size: 16px;
    font-weight: 400;
    color: #6E6E6E;
    width: 350px;
    line-height: 25px;
    font-family: helvetica;
}


/* PROJECT FORM SECTION */

.project-section {
    margin-bottom: 50px;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F12E45;
    width: 1050px;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
    border-radius: 0 0 50px 50px;
}

.project-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-header {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 40px;
    margin-left: -460px;
    margin-bottom: 20px;
}

.project-fullname,
.project-phone {
    width: 450px;
    height: 55px;
    border: 0;
    border-radius: 3px;
    background-color: #F56274;
}

.project-email {
    width: 920px;
    height: 55px;
    border: 0;
    border-radius: 3px;
    background-color: #F56274;
}

.project-text {
    height: 150px;
    width: 920px;
    border: 0;
    border-radius: 3px;
    background-color: #F56274;
}

[type='text'],
[type='email'] {
    padding-left: 15px;
    color: #FAB5BC;
}

.project-btn {
    border: 0;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin-left: -460px;
    margin-top: 20px;
    font-size: 20px;
}


/* PRODUCT PAGE */

.product_hero-section {
    background-image: url(/assets/images/software_development_2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 650px;
}



/* ABOUT PAGE - HOW WE WORK */

.about_hero {
    background-image: linear-gradient(297deg, rgba(16,7,28,0.13) 0%, rgba(16,7,39,0.87) 52%, rgba(16,7,39,1) 100%) ,url(/assets/images/456288f57de5c9e87c7a77ed99ddc31f7c69cdaa-1692x990.webp);
    /* background-size: cover; */
    background-repeat: no-repeat;
    height: 750px;
    /* background: gray; */

}

.bg-black {
    background-color: rgba(0,0,0,var(--bg-opacity));
}

.about_hero-header {
    position: relative;
    top: 250px;
    left: 100px;
}

.about_hero-title {
    color: white;
    font-weight: 300;
    font-size: 55px;
    margin-bottom: 30px;
    width: 500px;
}

.about_hero-caption {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 22px;
    width: 600px;
}
.about_hero-cta {
    position: relative;
    bottom: -300px;
    left: 100px;
}


/*///////////////////////// CONTACT PAGE ////////////////////////////////*/

.contact-section {
    margin-top: 180px;
    display: flex;
    justify-content: center;
}

.contact-container {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-title {
    font-size: 2.1rem;
    line-height: 1.5;
    font-weight: 300;
}

.contact-caption {
    font-size: 1.3rem;
    line-height: 1.33;
    font-weight: 400;
}

.form-section {
    width: 800px;
}