html {
    scroll-behavior: smooth;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Avenir,Helvetica,sans-serif; */
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.text-color {
    color: #323232 !important;
}

.hidden {
    visibility: hidden;
}

/*///////////////////// INDEX PAGE //////////////////////*/


.hero-section {
    background-image: url(/assets/images/become-a-software-developer.jpg);
    background-size: contain;
    height: 100%;
    max-width: 100%;
}
.hero-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dev-logo {
    width: 70px !important;
}
.img-animation {
    width: 450px;
    margin-bottom: -300px;
    margin-left: -35px;
}
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: 220px;
    left: 40px;
    margin-bottom: 100px;
}
.hero-title {
    color: white;
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 30px;
    width: 700px;
    overflow: hidden;
    margin-bottom: 50px;
}
.hero-caption {
    color: white;
    font-weight: 200;
    font-size: 22px;
    width: 600px;
    margin-bottom: 30px;
}
.hero-btn {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid #EA5252;
    border-radius: 5px;
    color: #EA5252;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
}
.hero-btn:hover {
    color: #E53E3E;
    font-weight: 400;
    background-color: #323232;
}
.cursor {
    width: 2px;
    background-color: #ccc;
    animation: blink 1s infinite;
}
.cursor.typing {
    animation: none;
}
@keyframes blink {
    0% { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: #ccc; }
    100% { background-color: #ccc; }
}
.wave-svg-box {
    width: 100%;
    z-index: 1; 
}
.wave-svg-box .wave {
    animation: wave 9s linear;
    animation-iteration-count: infinite;
    fill: #fff; 
}
.wave-svg-box #wave2 {
    animation-duration: 6s;
    animation-direction: reverse;
    opacity: .6; 
}
.wave-svg-box #wave3 {
    animation-duration: 8s;
    opacity: .3; 
}
.wave-svg-box .gooeff {
    filter: url(#goo); 
}
.wave-svg-box .gooeff .drop {
fill: #fff;
/* xfill: #99000055; */
animation: drop 8.3s linear infinite normal;
stroke: var(#fff);
transform: translateY(25px);
transform-box: fill-box;
transform-origin: 50% 100%; 
}
.wave-svg-box .gooeff .drop2 {
animation-delay: 3s;
animation-duration: 5s; 
}
.wave-svg-box .gooeff .drop3 {
animation-delay: -3s;
animation-duration: 4.4s; 
}
.wave-svg-box .gooeff .drop4 {
animation-delay: 2.7s; 
}
.wave-svg-box .gooeff .drop5 {
animation-delay: 3.7s;
animation-duration: 4.1s; 
}
.wave-svg-box .gooeff .drop6 {
animation-delay: -2.1s;
animation-duration: 5.2s; 
}
  
@keyframes drop {
0% {
    transform: translateY(25px); }
30% {
    transform: translateY(-10px) scale(0.1); }
30.001% {
    transform: translateY(25px) scale(1); }
70% {
    transform: translateY(25px); }
100% {
    transform: translateY(-10px) scale(0.1); } }

@keyframes wave {
to {
    transform: translateX(-100%); } }
  

@media screen and ( max-width: 1349px) {
    .hero-section {
        background-image: url(/assets/images/become-a-software-developer.jpg);
        background-size: contain;
        height: 100%;
        max-width: 100%;
    }
}

@media screen and ( max-width: 500px) {
    .hero-section {
        background-size: contain;
        height: 100%;
        max-width: 100%;
    }
    .hero-container {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 70px;
        margin-bottom: 150px;
        /* align-items: center; */
    }
    .hero-text {
        top: 230px;
        left: 20px !important;
    
    }
    .img-animation {
        width: 290px;
        margin-left: 0px;
        margin-top: -50px;
    }
    .hero-title {
        font-size: 30px;
        margin-bottom: 30px;
        width: 330px;
        overflow: hidden;
    }
    .hero-caption {
        font-size: 13px;
        width: 330px;
    }
    .hero-cta {
        position: relative;
        bottom: -260px;
        left: 20px !important;
    }
    
    .hero-btn {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 14px;
        background-color: transparent;
        border: 2px solid #EA5252;
        border-radius: 5px;
        color: #EA5252;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 45px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .hero-btn:hover {
        color: #E53E3E;
        font-weight: 400;
        background-color: #323232;
    }
    
    .hero-social {
        display: flex;
        flex-direction: row;
        width: 110px;
        position: relative;
        bottom: -300px;
        left: -120px;
    }
    
    .hero-instagram {
        font-size: 25px;
        color: #323232;
    }
    
    .hero-twitter {
        font-size: 25px;
        color: #323232;
    
    }
}

@media screen and ( max-width: 786px) {
    .hero-section {
        background-size: contain;
        height: 100vh;
        max-width: 100%;
    }
    
    .hero-header {
        top: 230px;
        left: 30px;
    
    }
    
    .hero-title {
        font-size: 30px;
        margin-bottom: 30px;
        width: 330px;
        overflow: hidden;
    }

    .hero-caption {
        font-size: 13px;
        width: 330px;
    }
    
    .hero-cta {
        position: relative;
        bottom: -260px;
        left: 30px;
    }
    
    .hero-btn {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 14px;
        background-color: transparent;
        border: 2px solid #EA5252;
        border-radius: 5px;
        color: #EA5252;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 45px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .hero-btn:hover {
        color: #E53E3E;
        font-weight: 400;
        background-color: #323232;
    }
    
    .hero-social {
        display: flex;
        flex-direction: row;
        width: 110px;
        position: relative;
        bottom: -300px;
        left: -120px;
    }
    
    .hero-instagram {
        font-size: 25px;
        color: #323232;
    }
    
    .hero-twitter {
        font-size: 25px;
        color: #323232;
    
    }

}





/*///////////////////////// SERVICE-SECTION ////////////////////////////*/

.service-section {
    width: 1150px;
    margin-top: -20px;
}
.service-container {
    display: flex;
    flex-direction: row;
}
.service-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 650px;
    position: relative;
    left: 0px;
    top: 90px;
}
.service-title {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 50px;
    margin-bottom: 50px;
}
.service-img {
    width: 1000px;
}
.service-btn {
    font-size: 16px;
    height: 50px;
    background: #2D3136;
    box-shadow: 20px 20px 60px rgba(0,0,0,.4);
    --text-opacity: 1;
    color: rgba(255,255,255,var(--text-opacity));
    padding: .75rem 2rem;
    border-radius: .125rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 200px;
}

@media screen and ( max-width: 500px ) {

    .service-section {
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
        height: 80vh;
        overflow: hidden;
        margin: 0;
    }

    .service-text {
        position: relative;
        left: 20px;
        top: 80px;
    }

    .service-container {
        padding-top: 50px;
    }
  
    .service-title {
        font-weight: 300;
        font-size: 30px;
        margin-bottom: 20px;
    }

}


/* LIST SECTION */

.list-section {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

.list-container {
    display: flex;
    flex-direction: column;
}

.list-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    width: 1300px;
}

.list-col-1,
.list-col-2,
.list-col-3,
.list-col-4,
.list-col-5,
.list-col-6,
.list-col-7 {
    width: 350px;
    height: 650px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
}

.list-col-7 {
    margin-left: 75px;
}

.list-image {
    margin-bottom: 20px;
    margin-left: -35px;

}

.list-img {
    max-width: 350px;
}

.list-title {
    font-size: 25px;
    font-weight: 800;
    color: #221a44;
    line-height: 30px;
    margin-bottom: 20px;
    width: 300px;
    /* font-family: Avenir,Helvetica,sans-serif !important; */
    /* font-family: 'Open Sans', sans-serif; */

}

.list-caption {
    font-size: 18px;
    font-weight: 200px;
    width: 280px;
    line-height: 35px;
    margin-bottom: 30px;
    /* font-family: Avenir_ff,Helvetica,sans-serif !important; */
    /* font-family: 'Open Sans', sans-serif; */
    
}

.list-btn {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    background-color: transparent;
    color: #EA5252;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 150px; */
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
}


@media screen and ( max-width: 500px ) {
    .list-section {
        margin-top: 150px;
        overflow: hidden;
    }
    
    .list-container {
        display: flex;
        flex-direction: column;
    }
    
    .list-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        width: inherit;
    }
    
    .list-col-1,
    .list-col-2,
    .list-col-3,
    .list-col-4,
    .list-col-5,
    .list-col-6,
    .list-col-7 {
        width: 330px;
        margin-bottom: 0px;
    }
    
    .list-col-7 {
        margin-left: 10px;
    }
    
    .list-image {
        margin-left: 0;
    
    }
    
    .list-img {
        max-width: 330px;
    }
    
    .list-title {
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    
    .list-caption {
        font-size: 16.5px;
        line-height: 33px;
        margin-bottom: 25px;
        width: inherit;
    }
    
    .list-btn {
        font-size: 16.5px;
        color: #EA5252;
        margin-bottom: -5px;
    }
}


/* HOMESLIDER SECTION */

.slide-section {
    background-color: #313D3F;
    height: 400px;
}

.slide-index {
    position: relative;
    top: 400px;
    left: 200px;
}

.index {
    font-size: 4rem;
    color: #fff;
    font-weight: 300;
}

.slide-inner {
    width: 800px;
    margin-right: 100px;
}

.slide-title {
    color: white !important;
    font-size: 2.5rem;
    line-height: 1.285;
    font-weight: 300;
}

.slide-desc {
    font-size: 1.2rem;
    line-height: 1.66;
    color: white;
    font-weight: 400;
}

.slide-prev {
    position: relative;
    bottom: 420px;
    left: 200px;
}

.slide-prev-icon {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

.slide-next {
    position: relative;
    bottom: 150px;
    left: 150px;
}

.slide-next-icon {
    font-size: 2rem;
    color: #fff;
}


/* WHY SECTION */

.why-section {
    margin-top: 20px;
    background: #FBF7F7;
    height: 100%;
    /* z-index: -1px; */
    --bg-opacity: 1;
}

.why-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 120px;
    padding-bottom: 80px;
    text-align: left;
}

.why-header {
    font-size: 42px;
    font-weight: 300;
    color: #707070;
    margin-bottom: 50px;
    margin-left: -620px;
    /* z-index: 1; */
}

.why-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1280px;
}

.why-card {
    border: 0 solid #e2e8f0;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px #e2e8f0;
    background: #FFFFFF;
    width: 400px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    --bg-opacity: 1;
    z-index: 2;
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
}

.why-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.why-img {
    width: 5rem;
    margin-left: 30px;
}

.why-title {
    font-size: 25px;
    font-weight: 400;
    color: #6E6E6E;
    width: 240px;
    line-height: 30px;
}

.why-caption {
    font-size: 16px;
    font-weight: 400;
    color: #6E6E6E;
    width: 350px;
    line-height: 25px;
}

@media screen and ( max-width: 500px ) {
    .why-section {
        overflow: hidden;
    }
    
    .why-container {
        padding-top: 100px;
        padding-bottom: 15px;
    }
    
    .why-header {
        font-size: 35px;
        margin-left: 0px;
    
    }
    
    .why-row {
        flex-direction: column;
        justify-content: space-between;
        width: 350px;
    }
    
    .why-card {
        width: 330px;
        height: 310px;
        margin-bottom: 30px;
        padding: 27px;
    }

    .why-card-header {
        margin-bottom: 25px;
    }
    
    .why-img {
        width: 5rem;
        margin-left: 5px;
    }
    
    .why-title {
        font-size: 22px;
        width: 200px;
        line-height: 35px;
    }
    
    .why-caption {
        font-size: 15px;
        width: inherit;
        line-height: 25px;
    }
}

/* PROJECT FORM SECTION */

.project-section {
    margin-bottom: 50px;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F12E45;
    width: 1050px;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
    border-radius: 0 0 50px 50px;
}

.project-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-header {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 40px;
    margin-left: -460px;
    margin-bottom: 20px;
}

.project-fullname,
.project-phone {
    width: 450px;
    height: 55px;
    border: 0;
    border-radius: 3px;
    background-color: #F56274;
}

.project-email {
    width: 920px;
    height: 55px;
    border: 0;
    border-radius: 3px;
    background-color: #F56274;
}

.project-text {
    height: 180px;
    width: 920px;
    border: 0;
    border-radius: 3px;
    background-color: #F56274;
}

[type='text'],
[type='email'] {
    padding-left: 15px;
    color: #FAB5BC;
}

.project-btn {
    border: 0;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin-left: -460px;
    margin-top: 20px;
    font-size: 20px;
}


@media screen and ( max-width: 500px ) {

    
    .project-container {
        width: 100%;
        height: 100%;
    }
    
    .project-form {
        width: 300px;

    }
    
    .project-header {
        font-weight: 300;
        font-size: 35px;
        margin-left: -100px;
        margin-bottom: 0;
        width: 200px;
        line-height: 55px;
    }
    
    .project-fullname,
    .project-phone {
        width: 300px;
        display: block;
    }

    .project-phone {
        margin-top: 20px;
    }
    
    .project-email {
        width: 300px;
    }
    
    .project-text {
        height: 150px;
        width: 300px;
    }
    
    .project-btn {
        margin-left: -150px;
    }
}







/*/////////////////////// ABOUT PAGE - HOW WE WORK /////////////////////////*/

.about_hero {
    background-image: linear-gradient(297deg, rgba(16,7,28,0.13) 0%, rgba(16,7,39,0.87) 52%, rgba(16,7,39,1) 100%) ,url(/assets/images/456288f57de5c9e87c7a77ed99ddc31f7c69cdaa-1692x990.webp);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    /* background: gray; */

}

.about_hero-header {
    position: relative;
    top: 250px;
    left: 100px;
}

.about_hero-title {
    color: white;
    font-weight: 300;
    font-size: 55px;
    margin-bottom: 30px;
    width: 500px;
}

.about_hero-caption {
    color: #fff;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 300;
    font-size: 22px;
    width: 600px;
}
.about_hero-cta {
    position: relative;
    bottom: -300px;
    left: 100px;
}

.about_hero-btn {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid #00D69E;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
}

.about_hero-btn:hover {
    color: #E53E3E;
    font-weight: 400;
    background-color: #323232;
}


@media screen and ( max-width: 500px ) {

    .about_hero {
        background-image: linear-gradient(297deg, rgba(16,7,28,0.13) 0%, rgba(16,7,39,0.87) 52%, rgba(16,7,39,1) 100%) ,url(/assets/images/456288f57de5c9e87c7a77ed99ddc31f7c69cdaa-1692x990.webp);
        background-size: inherit;
        background-repeat: no-repeat;
        background-position: top;
        width: 100%;
        overflow: hidden;
    }

    .about_hero-header {
        position: relative;
        top: 150px;
        left: 0px;
        width: 330px;
    }

    .about_hero-title {
        color: white;
        font-weight: 300;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 30px;
        width: 300px;
    }
    
    .about_hero-caption {
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 18px;
        width: 260px;
        line-height: 30px;
        /* display: inline-block; */
    }
    .about_hero-cta {
        position: relative;
        bottom: -200px;
        left: 100px;
    }
    
    .about_hero-btn {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 20px;
        background-color: transparent;
        border: 2px solid #00D69E;
        border-radius: 5px;
        color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 45px;
        padding-left: 10px;
        padding-right: 10px;
    }
}



/* ABOUT PROCESS SECTION */

.about-process {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 150px;
    /* background: #180341; */
}

.process_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.process-header {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.process-title::before {
    content: "";
    display: block;
    margin: 0px auto 3.5rem;
    width: 50px;
    height: 5px;
    background: rgb(0, 214, 158) none repeat scroll 0% 0%;
}

.process-title {
    padding: 0px 0%;
    margin-bottom: 1.875rem;
    font-size: 36px;
    font-weight: 800;
    color: #221a44;
    line-height: 30px;
    text-align: center;
}

.process-caption {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    color: rgb(147, 147, 167);
    text-align: center;
    white-space: pre-line;
    width: 710px;
}

.process-grid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 50px;
}

.process-row-1 {
    display: flex;
    align-items: center;
    position: relative;
    left: -220px;
    margin-bottom: 50px;
}

.process-row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 95px;
    margin-bottom: 50px;
}

.process-card-1,
.process-card-2,
.process-card-3,
.process-card-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    text-align: center;
    border: 1px solid gray;
    padding: 0 10px 0 10px;

}

.process-card-1,
.process-card-3 {
    margin-right: 40px;
}
.process_card-image {
    height: 200px;
    margin-bottom: 20px;
}
.process_card-img-1 {
    width: 300px;
}
.process_card-img-2 {
    width: 300px;
    margin-top: -100px;
}
.process_card-img-3 {
    width: 300px;
}
.process_card-img-4 {
    width: 300px;
}
.process_card-header-1 {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.process_card-header-2 {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: -100px;
}
.process_card-header-3 {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.process_card-header-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.process_svg {
    color: #FF397F !important;
    margin-right: 20px;
}
.process_svgg {
    color: #FF397F !important;
    margin-right: -15px;
}
.process_card-title {
    --text-opacity: 1;
    color: rgba(34,42,65,var(--text-opacity));
    font-size: 25px;
    font-weight: 800;
    color: #221a44;
    line-height: 30px;
}

.process_card-caption {
    --text-opacity: 1;
    color: #6d7783;
    color: rgba(109,119,131,var(--text-opacity));
    font-size: 16px;
    font-weight: 600;
    /* color: #221a44; */
    line-height: 25px;

}

.abstract-circle {
    position: relative;
    left: -250px;
    top: 150px;
    z-index: -1;
}

.circle-1 {
    height: 11rem;
    width: 11rem;
    background-color: #F12E45;
    border-radius: 9999px;
    display: inline-block;
}

.circle-2 {
    height: 4.5rem;
    width: 4.5rem;
    background-color: #F12E45;
    border-radius: 9999px;
    display: inline-block;
    position: relative;
    top: -190px;
    left: -50px;
}


@media screen and (max-width: 500px ) {

    .process-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .process-title {
        padding: 0px 20%;
        margin-bottom: 1.875rem;
        font-size: 2.5rem;
        line-height: 1.33;
        color: #000;
        text-align: center;
        /* width: 350px; */
    }
    
    .process-caption {
        font-size: 1.1rem;
        line-height: 1.79;
        color: rgb(147, 147, 167);
        text-align: center;
        white-space: pre-line;
        width: 300px;
    }
    
    .process-grid {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 50px;
    }
    
    .process-row-1 {
        display: flex;
        flex-direction: column;
        position: relative;
        /* left: -10px; */
        margin-bottom: -130px;
    }
    
    .process-row-2 {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 0px;
        margin-bottom: 50px;
    }

    .process-card-1,
    .process-card-2,
    .process-card-3,
    .process-card-4,
    .process-card-5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 350px;
        height: 480px;
        text-align: center;
        border: 1px solid gray;
        padding: 0 10px 0 10px;
        margin-bottom: 25px;
    }

    .process-card-1,
    .process-card-2,
    .process-card-4 {
        margin-right: 0px;
    }

    .process_card-img {
        width: 200px;
        margin-bottom: 1.5rem;
    }

    .process_card-title {
        --text-opacity: 1;
        /* color: #222a41; */
        color: rgba(34,42,65,var(--text-opacity));
        margin-bottom: 1.25rem;
        font-size: 1.125rem;
        font-weight: 600;
    }

    .process_card-caption {
        --text-opacity: 1;
        color: #6d7783;
        color: rgba(109,119,131,var(--text-opacity));
        font-size: .75rem;
        line-height: 1.79;

    }

    .abstract-circle {
        position: relative;
        left: -140px;
        top: 160px;
        z-index: -1;
    }
    
    .circle-1 {
        height: 9rem;
        width: 9rem;
        background-color: #F12E45;
        border-radius: 9999px;
        display: inline-block;
    }
    
    .circle-2 {
        height: 4rem;
        width: 4rem;
        background-color: #F12E45;
        border-radius: 9999px;
        display: inline-block;
        position: relative;
        top: -140px;
        left: -15px;
    }
}


/* TOOLS SECTION */

.tools {
    background-image: url(/assets/images/bg-designs.svg);
    background-repeat: no-repeat;
    background-position-x: 600px;
    z-index: -1;
}

.tools-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tools-row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}


.tools-header {
    text-align: left;
}

.tools-title {
    font-size: 2.625rem;
    margin-bottom: 3.9375rem;
}

.tools-title::before {
    content: "";
    display: block;
    margin: 0 0 2.5rem ;
    background: #7142EB;
    width: 50px;
    height: 5px;
}

.tools-caption {
    font-size: 1.2rem;
    line-height: 2;
    font-weight: 400;
    color: rgb(147, 147, 167);
    width: 380px;
}


.tools-col-2 {
    width: 500px;
    margin-right: 280px;
}

.tools_col-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-row-1,
.grid-row-2,
.grid-row-3 {
    display: flex;
    justify-content: center;
}

.grid-card {
    width: 250px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent none repeat scroll 0% 0%;
    box-shadow: rgb(240, 240, 243) 0px 20px 64px 0px;
    z-index: 1;
    margin-bottom: 40px;
    margin-right: 50px;
}

.grid-card-index {
    font-size: 1.375rem;
    color: rgb(113, 56, 239);
    position: relative;
    left: -80px;
    top: 0px;
}

.grid-card-img-1 {
    width: 150px;
    margin-bottom: 20px;
}

.grid-card-img-2,
.grid-card-img-3,
.grid-card-img-4,
.grid-card-img-5,
.grid-card-img-6 {
    width: 60px;
    margin-bottom: 20px;
}

.grid-card-title {
    font-size: 1.5625rem;
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
}

.grid-card-caption {
    font-size: 0.8rem;
    padding: 0px 2rem;
    line-height: 1.56;
    color: rgb(139, 139, 152);
    width: 250px;
    height: 100px;
    text-align: center;
    /* opacity: 0; */
}


@media screen and ( max-width: 500px ) {

    .tools {
        /* background-image: none; */
        background-repeat: repeat;
        background-position-x: -50;
        background-position-y: -110px;
        z-index: -1;
    }
    .tools-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: inherit;

    }
    
    .tools-col-1 {
        margin-bottom: 150px;
    }
    
    
    .tools-header {
        text-align: left;
        z-index: 1;
    }
    
    .tools-title {
        font-size: 2.625rem;
        margin-bottom: 5rem;
    }
    
    .tools-title::before {
        content: "";
        display: block;
        margin: 0 0 2.5rem ;
        background: #7142EB;
        width: 50px;
        height: 5px;
    }
    
    .tools-caption {
        font-size: 1.35rem;
        line-height: 2.1;
        font-weight: 400;
        color: rgb(147, 147, 167);
        width: 311px;
    }
    
    
    .tools-col-2 {
        width: 350px;
        margin-right: 0;
    }
    
    .tools_col-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .grid-row-1,
    .grid-row-2,
    .grid-row-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .grid-card {
        width: 311px;
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: transparent none repeat scroll 0% 0%;
        box-shadow: rgb(240, 240, 243) 10px 20px 64px 10px;
        z-index: 1;
        margin-bottom: 40px;
        margin-right: 0px;
    }
    
    .grid-card-index {
        font-size: 1.375rem;
        color: rgb(113, 56, 239);
        position: relative;
        left: -80px;
        top: 0px;
    }
    
    .grid-card-img-1 {
        width: 150px;
        margin-bottom: 20px;
    }
    
    .grid-card-img-2,
    .grid-card-img-3,
    .grid-card-img-4,
    .grid-card-img-5,
    .grid-card-img-6 {
        width: 60px;
        margin-bottom: 20px;
    }
    
    .grid-card-title {
        font-size: 1.5625rem;
        color: rgb(0, 0, 0);
        margin-bottom: 25px;
    }
    
    .grid-card-caption {
        font-size: 0.8rem;
        padding: 0px 2rem;
        line-height: 1.56;
        color: rgb(139, 139, 152);
        width: 250px;
        height: 100px;
        text-align: center;
        /* opacity: 0; */
    }
}



/* WAYS SECTION */

.about_ways {
    display: flex;
    justify-content: center;
    background-color: #F2F4F5;
}

.ways-container {
    margin-top: 100px;
}

.ways-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ways-title::before {
    content: "";
    display: block;
    margin: 0px auto 3.5rem;
    width: 50px;
    height: 5px;
    background: rgb(0, 214, 158) none repeat scroll 0% 0%;
}

.ways-title {
    padding: 0px 15%;
    margin-bottom: 1.875rem;
    font-size: 2.625rem;
    line-height: 1.33;
    color: #000;
    text-align: center;
}

.ways-caption {
    font-size: 1.1875rem;
    line-height: 1.79;
    color: rgb(147, 147, 167);
    text-align: center;
    white-space: pre-line;
}

.ways-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 1000px; */
}

.ways-row-1 {
    width: 550px;
    margin-right: 150px;
    margin-top: -150px;
}


.ways_step-1,
.ways_step-2,
.ways_step-3 {
    width: 430px;
    margin-top: -25px;
    /* display: flex; */
}

.ways_step-img-1,
.ways_step-img-2,
.ways_step-img-3 {
    width: 50px;
    position: relative;
    left: 5px;
    top: 40px;
}

.ways_step-header {
    margin-left: 80px;
}

.ways_step-title {
    font-weight: 500;
    font-size: 24px;
    /* line-height: 125%; */
    color: #1E266D;
    margin-bottom: 10px;
}

.ways_step-caption {
    width: 350px;
    font-size: 16px;
    line-height: 27px;
    color: #455880;
}


@media screen and ( max-width: 500px ) {

    .about_ways {
        display: flex;
        justify-content: center;
        background-color: #F2F4F5;
    }
    
    .ways-container {
        margin-top: 100px;
    }

    .ways-header {
        margin-bottom: 50px;
    }
    
    .ways-title::before {
        content: "";
        display: block;
        margin: 0px auto 3.5rem;
        width: 50px;
        height: 5px;
        background: rgb(0, 214, 158) none repeat scroll 0% 0%;
    }
    
    .ways-title {
        padding: 0px 20%;
        margin-bottom: 1.875rem;
        font-size: 2.625rem;
        line-height: 1.33;
        color: #000;
        text-align: center;
    }
    
    .ways-caption {
        font-size: 1.1875rem;
        line-height: 1.79;
        color: rgb(147, 147, 167);
        text-align: center;
        white-space: pre-line;
        width: 300px;
    }
    
    .ways-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        /* width: 1000px; */
    }
    
    .ways-row-1 {
        width: 300px;
        margin-right: 0px;
        margin-top: 0px;
        display: none;
    }

    /* .ways-grid-img {
        height: 400px;
    } */

    .ways-row-2 {
        width: 350px;
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }
    
    
    .ways_step-1,
    .ways_step-2,
    .ways_step-3 {
        width: 350px;
        margin-top: -25px;
        /* display: flex; */
    }
    
    .ways_step-img-1,
    .ways_step-img-2,
    .ways_step-img-3 {
        width: 50px;
        position: relative;
        left: 5px;
        top: 40px;
    }
    
    .ways_step-header {
        margin-left: 80px;
    }
    
    .ways_step-title {
        font-weight: 500;
        font-size: 24px;
        /* line-height: 125%; */
        color: #1E266D;
        margin-bottom: 10px;
    }
    
    .ways_step-caption {
        width: 250px;
        font-size: 16px;
        line-height: 27px;
        color: #455880;
    }
}


/* KEY BENEFIT SECTION */

.benefit {
    background-image: url(/assets/images/white-bg-dots.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: bottom;
    height: 370px;
}

.benefit-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 50px;
    z-index: 1;
}

.benefit-title {
    font-size: 2.8rem;
    line-height: 1.16;
    font-weight: 400;
    width: 550px;
    margin-left: -600px;
    margin-bottom: 50px;
    font-weight: 400;
}

.benefit-row {
    display: flex;
    justify-content: center;
}

.benefit-sub-header-1 {
    margin-right: 100px;
}

.benefit-sub-title {
    font-size: 1.8rem;
    line-height: 1.25;
    color: #313D3F;
    margin-bottom: 15px;
}

.benefit-sub-caption {
    font-size: 1.3rem;
    line-height: 1.66;
    color: #666666;
    width: 550px;
}


@media screen and ( max-width: 500px ) {
    .benefit {
        background-size: cover;
        background-position-y: -70px;
        height: 530px;
        z-index: -1;
    }
    
    .benefit-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .benefit-title {
        font-size: 2.35rem;
        line-height: 1.45;
        font-weight: 400;
        width: 300px;
        margin-left: -45px;
        margin-bottom: 30px;
    }
    
    .benefit-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .benefit-sub-header-1 {
        margin-right: 0;
        margin-bottom: 25px;
    }
    
    .benefit-sub-title {
        font-size: 1.5rem;
        margin-bottom: 15px;
        font-weight: 500;
    }
    
    .benefit-sub-caption {
        font-size: 1.2rem;
        line-height: 2;
        width: 345px;
    }
}




/*////////////////////////// PRODUCT PAGE //////////////////////////*/

.product_hero {
    background-image: linear-gradient(297deg, rgba(16,7,28,0.13) 0%, rgba(16,7,39,0.87) 52%, rgb(187, 185, 190) 100%) ,url(/assets/images/abf339eae0d86cbb63b8cb042258fcbb2bcf4a8f-1920x900.webp);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    /* background: gray; */

}

.product_hero-header {
    position: relative;
    top: 250px;
    left: 100px;
}

.product_hero-title {
    color: white;
    font-weight: 300;
    font-size: 55px;
    margin-bottom: 30px;
    width: 500px;
}

.product_hero-caption {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 22px;
    width: 600px;
}
.product_hero-cta {
    position: relative;
    bottom: -300px;
    left: 100px;
}

.product_hero-btn {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid #00D69E;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
}

.product_hero-btn:hover {
    color: #E53E3E;
    font-weight: 400;
    background-color: #323232;
}






/*///////////////////////// CONTACT PAGE ////////////////////////////////*/

.contact-section {
    margin-top: 180px;
    display: flex;
    justify-content: center;
}

.contact-container {
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-title {
    font-size: 2.1rem;
    line-height: 1.5;
    font-weight: 300;
    color: #313D3F;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.contact-caption {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 400;
    color: #313D3F;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.form-section {
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-title,
.form_sub-title {
    font-size: 1.6rem;
    line-height: 1.428;
    color: #000;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.form-caption,
.form_sub-caption {
    font-size: 1.1rem;
    line-height: 1.66;
    color: #999;
}

.info-wrapper {
    display: flex;
    width: 100%;
}

.name-label,
.email-label,
.text-label {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.contact-fullname,
.contact-email {
    height: 55px;
    width: 360px;
    border: 1px solid #D8DEDF;
    border-radius: 5px;
    background-color: #FBFDFF;
}

.contact-fullname {
    margin-right: 27px;
}

.contact-text {
    height: 170px;
    width: 100%;
    border: 1px solid #D8DEDF;
    border-radius: 5px;
    background-color: #FBFDFF;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 20px;
}

.contact-button {
    display: flex;
    justify-content: center;
}

.contact-btn {
    width: 250px;
    height: 60px;
    border-radius: 5px;
    background-color: #5FC1CE;
    color: #FBF7F7;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

/* GET-IN-TOUCH */

.contact-info {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 2rem;
    /* -webkit-box-shadow: 0 4px 8px 0 rgba(206, 218, 221, 0.8); */
    box-shadow: 0 4px 8px 0 rgba(206, 218, 221, 0.8);
    margin-bottom: 3rem;
    width: 735px;
    height: 310px;
}

.contact-info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 1000px; */
}

.info-title {
    font-size: .9rem;
    line-height: 1.5;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
    color: #94A8AB;
    margin-left: -335px;
}

.info-grid {
    width: 350px;
}

.info-grid-title {
    margin-bottom: 1.5rem;
    color: #000;
    font-size: 1.3rem;
    line-height: 1.2;
}

.info-grid-mail,
.info-grid-phone {
    font-size: 1.2rem;
    line-height: 1.66;
    display: block;
    color: #5FC1CE;
}

.info-grid-mail:hover,
.info-grid-phone:hover {
    color: #5FC1CE;
}

.info-grid-address {
    color: #666;
    font-size: 1.2rem;
    line-height: 1.66;
}

.info-grid-desc {
    height: 1500px;
}

.info-grid-btn {
    font-size: 1.375rem;
    line-height: 1;
    color: #5FC1CE;
    font-weight: 500;
    display: inline-block;
    position: relative;
    /* padding-left: 1.75rem; */
    padding-right: 0;
    /* -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.33, 1);
    -o-transition: all 0.5s cubic-bezier(0.25, 1, 0.33, 1); */
    transition: all 0.5s cubic-bezier(0.25, 1, 0.33, 1);
}

.info-grid-btn::before {
    content: '';
    opacity: 1;
    position: absolute;
    background: url("../img/icons/right.svg") no-repeat center / contain;
    width: 1.25rem;
    height: 1rem;
    left: 0;
    bottom: 2px;
    /* -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8); */
    transform: scale(0.8);
    /* -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.33, 1);
    -o-transition: all 0.5s cubic-bezier(0.25, 1, 0.33, 1); */
    transition: all 0.5s cubic-bezier(0.25, 1, 0.33, 1);
}

.info-grid-btn::after {
    content: '';
    background: url("../img/icons/arrow.svg") no-repeat center / contain;
    width: 1.25rem;
    height: 1rem;
    position: absolute;
    bottom: 2px;
    right: 0;
    opacity: 0;
    /* -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1); */
    transform: scale(0.1);
    /* -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.33, 1);
    -o-transition: all 0.5s cubic-bezier(0.25, 1, 0.33, 1); */
    transition: all 0.5s cubic-bezier(0.25, 1, 0.33, 1);
}






@media screen and ( max-width: 500px ) {

    .contact-section {
        margin-top: 140px;
    }

    .contact-container {
        width: 350px;
    }

    .contact-title {
        font-size: 2rem;
        width: 340px;
        line-height: 1.4;
        font-weight: 300;
        margin-left: 10px;
    }

    .contact-caption {
        font-size: 1.2rem;
        width: 340px;
        line-height: 1.5;
        margin-left: 10px;
    }

    .form-section {
        width: 350px;
    }

    .form-header {
        margin-left: 10px;
    }

    .form_sub-header {
        margin-left: 10px;
    }

    .form-title,
    .form_sub-title {
        font-size: 1.4rem;
        line-height: 1.428;
        color: #000;
    }

    .form-caption,
    .form_sub-caption {
        font-size: 1rem;
        line-height: 1.8;
        color: #999;
    }

    .info-wrapper {
        flex-direction: column;
        width: 330px;
        margin-left: 10px;

    }

    .text-wrapper {
        margin-left: 10px;
    }

    .check-wrapper {
        margin-left: 10px;
    }

    .contact-fullname,
    .contact-email {
        width: 330px;
    }

    .contact-fullname {
        margin-right: 0;
    }

    .contact-text {
        height: 170px;
        width: 330px;
        border: 1px solid #D8DEDF;
        border-radius: 5px;
        background-color: #FBFDFF;
        padding-left: 15px;
        padding-top: 10px;
        font-size: 20px;
    }

}





/*///////////////////////// LEGAL PAGE ////////////////////////////////*/

.legal-section {
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.legal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.legal-title {
    text-align: center;
    text-transform: capitalize;
    position: relative;
    opacity: 1;
    font-size: 3rem;
    line-height: 1.285;
    color: #313D3F;
    font-weight: 300;
    margin-bottom: 100px;
}

.legal-desc {
    font-size: 1.31rem;
    line-height: 1.9;
    margin-bottom: 1rem;
    color: #666;
    width: 786px;
}

.legal-content {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
    width: 786px;
    margin-top: 80px;
}

.text-title {
    font-size: 1.35rem;
    font-weight: 500;
    line-height: 1.66;  
    color: #313D3F;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.text-subtitle {
    color: #666;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.text-desc {
    font-size: 1.31rem;
    line-height: 1.9;
    margin-bottom: 1rem;
    color: #666;
    margin-bottom: 2.5rem;
}

.text-item {
    margin-left: 30px;
    margin-bottom: 2.5rem;
}

.text-list {
    font-size: 1.31rem;
    line-height: 1.9;
    color: #666;
    list-style-type: disc;
}


@media screen and ( max-width: 500px ) {
    .legal-section {
        margin-top: 150px;
        margin-bottom: 100px;
    }
    
    .legal-title {
        font-size: 2.8rem;
        margin-bottom: 80px;
    }
    
    .legal-desc {
        font-size: 1.2rem;
        width: 345px;
    }
    
    .legal-content {
        width: 345px;
        margin-top: 80px;
    }
    
    .text-title {
        font-size: 1.25rem;
    }
    
    .text-subtitle {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
    
    .text-desc {
        font-size: 1.2rem;
    }
    
    .text-list {
        font-size: 1.2rem;
    }
}





/*//////////////////// FOOTER-TAG ///////////////////////*/

/* CALL TO ACTION */ 

.footer-cta {
    max-width: 100%;
    height: 100px;
    background-color: #BB1835;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cta-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
}

.cta-text {
    margin-left: 90px;
    margin-right: 300px;
    margin-top: 10px;
}

.cta-title {
    --text-opacity: 1;
    color: rgba(255,255,255,var(--text-opacity));
    font-size: 1rem;
    margin-bottom: .9rem;
    font-weight: 400;
}

.cta-caption {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.25;
    --text-opacity: 1;
    color: rgba(255,255,255,var(--text-opacity));
}

.cta-btn {
    font-size: 16px;
    height: 50px;
    background: transparent linear-gradient(251deg,#fa2b56,#f91c3d) 0 0 no-repeat padding-box;
    box-shadow: 20px 20px 60px rgba(0,0,0,.4);
    --text-opacity: 1;
    color: rgba(255,255,255,var(--text-opacity));
    padding: .75rem 2rem;
    border-radius: .125rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.cta-btn-icon {
    font-size: 22px;
    font-weight: 600;
    margin-left: 30px;

}

/* CLIENT-SECTION */

.clients {
    background-color: #37383E;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.client-img {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
    max-width: 100%;
    height: auto;
}

/* FOOTER-SECTION */

.footer {
    background-color: #2D2E34;
    display: flex;
    justify-content: center;
    height: 230px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1500px;
}

.footer_col-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_contact {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .125em;
    font-size: .9rem;
    text-align: right;
    font-weight: 500;
}

.footer-social {
    display: flex;
    justify-content: center;
    width: 150px;
    margin-left: 5px;
}

.footer-IG,
.footer-twitter,
.footer-google {
    color: #fff;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 9999px;
    background-color: transparent;
    display: flex;
    align-items: center;
}

/* FOOTER-NAV */

.footer-nav {
    position: relative;
    right: -400px;
    margin-top: 15px;
    height: 50px;
    justify-content: space-between;
    width: 350px;
}

.footer_nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .125em;
    --text-opacity: 1;
    color: rgba(255,255,255,var(--text-opacity));
    padding: 0;
    margin: 0;
}

.footer_nav-link:hover {
    text-transform: none;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .125em;
    --text-opacity: 1;
    color: rgba(255,255,255,var(--text-opacity));
    border-bottom: 5px solid #fff;
}

@media screen and ( max-width: 500px ) {

    /* CALL TO ACTION */ 

    .footer-cta {
        height: 225px;
        box-sizing: border-box;
        margin: 0 !important;
        max-width: 100%!important;
        overflow: hidden;
    }

    .cta-container {
        flex-direction: column;
        justify-content: center;
        width: 350px !important;
    }

    .cta-text {
        margin-left: 10px;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .cta-title {
        font-size: 1.2rem;
    }

    .cta-caption {
        font-size: 2.5rem;
    }

    .cta-button {
        margin: 0;
    }

    .cta-btn {
        padding: .75rem 1.3rem;
        position: relative;
        left: -60px;
    }

    /* FOOTER-SECTION */

    .footer {
        height: auto;
    }

    .footer-container {
        width: 350px;
    }

    .footer_row-1 {
        flex-direction: column;
        width: 350px;
        margin-top: 30px;
    }

    .footer_col-1 {
        margin-bottom: -20px;
    }

    .footer-img {
        width: 140px;
        margin-left: -5px;
    }

    .footer_col-2 {
        flex-direction: column-reverse;
    }

    .footer_contact {
        text-align: center;
        line-height: 1.5rem;
    }

    .footer-social {
        width: 150px;
        margin-left: 100px;
        margin-bottom: 20px;

    }

    /* FOOTER-NAV */

    .footer-nav {
        right: 0;
        margin-top: 30px;
        width: 300px;
    }

}
